{% extends "base.html" %} {% load static %} {% block content %}
<!-- Category Section -->
<div class="container mt-5">
  <h1 class="mb-4">{{ category.name }}</h1>
  <div class="row">
    {% for product in category.products.all %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'product' product.id %}">
        <div class="card position-relative">
          <!-- <a href="{% url 'add_to_wishlist' product.id %}" class="position-absolute">
            <i
            class="fas fa-heart text-danger"
            style="font-size: 1.5rem"
            ></i>
          </a> -->
          <div class="ratio ratio-1x1">
            <img
            src="{{ product.image.url }}"
            class="card-img-top zoom-image"
            alt="Photo of {{ product.name }}"
            />
          </div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.name }}</h5>
            <p>£{{ product.price }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% endblock content %}
</div>
