{% extends "base.html" %} {% load static %} {% block content %}
<!-- Hero Section -->
<div class="hero bg-dark text-white text-center py-5">
  <img
    src="{% static 'images/hero.png' %}"
    class="img-fluid"
    alt="Hero Image"
  />
  <div class="container">
    <h1 class="display-4">Replicant</h1>
    <p class="lead">Explore the best products in your category</p>
  </div>
</div>
<!-- Category Section -->
<div class="container mt-5">
  {% for category in categories %}
  <a href="{% url 'category' category.id %}" class="h2 text-decoration-none">{{ category.name }}</a>
  {% endfor %}
</div>

{% endblock content %}
